body {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	margin: 0px;
	padding: 0px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#content {
	padding: 10px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}